<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.55.0" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.8" targetFramework="net451" />
  <package id="EPPlus" version="4.0.5" targetFramework="net451" />
  <package id="Grouptree.Core" version="8.0.11-pre0338-c74515b" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net451" />
  <package id="mongocsharpdriver" version="1.10.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="RazorEngine" version="3.7.7" targetFramework="net451" />
</packages>